<html>
<head>
  <title>
    SCORM Package Transcript Extraction POC
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="static/main.css" />
</head>
</head>
<body>
  <br />
  <table width="70%" align="center">
    <tr>
      <td align="center">
        <h4>SCORM Package Transcript Extraction POC</h4>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form alert alert-primary">
          <form name="scormFileUpload" method="post" action="/index" enctype="multipart/form-data">
            <div>Select Scorm Package (.zip file):</div>
            <div><input class="form-control" type="file" name="scormFile" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" /></div>
            <div><input type="submit" class="btn btn-primary" value="Upload" /></div>
          </form>
        </div>
        {% if error_message != "" %}
          <div class="error-message">
            ERROR: {{ error_message }}
          </div>
        {% endif %}

        <div>
          asdf
        </div>
      </td>
    </tr>
  </table>
</body>
</html>